

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

		<footer class="footer-distributed">

			<div class="footer-left">

				<!-- <h3><span>हारेगा कोरोना, जीतेगा इंडिया</span></h3> -->
                <h3><span>Winners make the effort<br/>while losers make excuses.</span></h3>
				<p class="footer-company-name">Lakhan Patel &copy; 2020</p>
			</div>

			<div class="footer-center">

				

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 87708 15661</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="/cdn-cgi/l/email-protection#87f4f2f7f7e8f5f3c7e4e8eaf7e6e9fea9e4e8ea"><span class="__cf_email__" data-cfemail="c6b5b3b6b6a9b4b286a5a9abb6a7a8bfe8a5a9ab">lakhanjava8@gmail.com</span></a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Me</span>
					This site contains the information of <br/>COVID-19 patients of India. 
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/Mr.coder01"><i class="fa fa-facebook"></i></a>
					
					<a href="https://www.linkedin.com/in/lakhan-patel-229a22144/"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>