

<h2>{{hero.name| uppercase}}</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div><span>name: </span>{{hero.name}}</div>

<div>
    <label> name: 
        <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
</div>


<div class="Table navbar-light bg-light">
    <div class="Title">
        <p>This is a Table</p>
    </div>
    <div class="Heading table-primary">
        <div class="Cell">
            <p>Heading 1</p>
        </div>
        <div class="Cell">
            <p>Heading 2</p>
        </div>
        <div class="Cell">
            <p>Heading 3</p>
        </div>
        <div class="Cell">
            <p>Heading 4</p>
        </div>
        <div class="Cell">
            <p>Heading 5</p>
        </div>
    </div>
    <div class="Row">
        <div class="Cell">
            <p>Row 1 Column 1</p>
        </div>
        <div class="Cell">
            <p>Row 1 Column 2</p>
        </div>
        <div class="Cell">
            <p>Row 1 Column 3</p>
        </div>
        <div class="Cell">
            <p>Row 1 Column 4</p>
        </div>
        <div class="Cell">
            <p>Row 1 Column 5</p>
        </div>
    </div>
    <div class="Row">
        <div class="Cell">
            <p>Row 2 Column 1</p>
        </div>
        <div class="Cell">
            <p>Row 2 Column 2</p>
        </div>
        <div class="Cell">
            <p>Row 2 Column 3</p>
        </div>
        <div class="Cell">
            <p>Row 2 Column 4</p>
        </div>
        <div class="Cell">
            <p>Row 2 Column 5</p>
        </div>
    </div>
</div>